@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

* {
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 30% 70%, #2a0a3a 0%, #11071f 50%, #000 100%);
    overflow: hidden;
    font-family: 'Manrope',
        sans-serif;
}

.fireworks {
    position: fixed;
    inset: 0;
    z-index: 1;
    pointer-events: none;

}


.bg-aura {
    position: relative;
    background:
        radial-gradient(circle at 20% 80%, rgba(17, 2, 32, 0.4) 0%, transparent 50%),
        radial-gradient(circle at 80% 20%, rgba(80, 40, 84, 0.35) 0%, transparent 50%),
        radial-gradient(circle at 50% 50%, rgba(100, 200, 255, 0.2) 0%, transparent 60%);

    filter: blur(80px);
}

.snows {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snows div {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    animation: fall linear infinite;
}



.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(0);
    text-align: center;

}

.text-container h1 {
    font-family: 'Clash Display', sans-serif;
    font-weight: 700;
    font-size: clamp(60px, 12vw, 160px);
    line-height: 0.9;


    background: linear-gradient(135deg,
            #fff8e1 0%,
            #ffdca8 15%,
            #ff9e9e 30%,
            #e0c3ff 50%,
            #a8f0ff 70%,
            #ffffff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0 0 30px rgba(255, 200, 120, 0.7)) drop-shadow(0 0 80px rgba(180, 100, 255, 0.5));
    animation: glow 2s infinite ease-in-out;
}

.text-container span {
    font-size: clamp(60px, 12vw, 160px);
    font-weight: 700;
    margin-top: 10px;
    letter-spacing: normal;
    opacity: 0.85;
    background: linear-gradient(90deg,
            #fff7e6,
            #ffe29f,
            #ffcc70);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}



@keyframes glow {
    0% {
        filter:
            drop-shadow(0 0 10px rgba(255, 230, 160, 0.2)) drop-shadow(0 0 20px rgba(200, 170, 255, 0.8));
    }

    50% {
        filter:
            drop-shadow(0 0 25px rgba(255, 220, 140, 0.4)) drop-shadow(0 0 50px rgba(180, 150, 255, 0.5));
    }

    100% {
        filter:
            drop-shadow(0 0 20px rgba(255, 230, 160, 0.6)) drop-shadow(0 0 20px rgba(200, 170, 255, 0.6));
    }
}

@keyframes fall {
    to {
        transform: translateY(100dvh) rotate(360deg);
        opacity: 0;
    }
}